@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
body {
	height: 100%;
	//background-color: #333;
	//color: #FFFDFD;
	font-family: Maven Pro

}
h2, h4 {
	/* text-align: center; */
}
.wrapper-location {
        /* text-align: center; */
}
.wrapper-location ul {
    display: inline-block;
    margin: 0;
    padding: 0;/* For IE, the outcast */zoom:1;*
    display: inline;
}
.wrapper-location li {
    float: left;
    padding: 2px 5px;
}

ul {
	list-style-type: circle;
}