@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
body {
	height: 100%;
	//background-color: #333;
	//color: #FFFDFD;
	font-family: Maven Pro

}
h2, h4 {
	/* text-align: center; */
}
.wrapper-location {
        /* text-align: center; */
}
.wrapper-location ul {
    display: inline-block;
    margin: 0;
    padding: 0;/* For IE, the outcast */zoom:1;*
    display: inline;
}
.wrapper-location li {
    float: left;
    margin-left: 20px;
    margin-right: 5px;
}

ul {
	list-style-type: circle;
}

/* Experience section styling */
.experience {
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
}

.job-header {
	margin-bottom: 5px;
	font-size: 16px;
}

.job-header strong {
	color: #333;
}

.date-range {
	float: right;
	color: #666;
	font-style: italic;
}

.job-description {
	margin-bottom: 10px;
	color: #555;
	font-size: 14px;
}

.achievements-list {
	margin: 10px 0;
	padding-left: 20px;
}

.achievements-list li {
	margin-bottom: 5px;
	line-height: 1.5;
}

.technologies {
	margin-top: 10px;
	font-size: 13px;
	color: #666;
}
