<html>
	<head>
		<title>Sergii Getman</title>

		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="css/style.css">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/CvCtrl.js"></script>

	</head>
	<body ng-app="cvApp" ng-controller="CvCtrl">
	    <h1></h1>
	    <div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  	<h2>Sergii Getman
		  	</h2>
		  	<h4>Lead Engineer | Cloud Infrastructure & Distributed Systems</h4>
		  	<h5>London, the UK</h5>
			<div class="wrapper-location">
				<ul>
					<li><img src="img/gmail.png"><span>getman.sergei@gmail.com</span>
					</li>
					<li>
						<img src="img/phone.png" ><span>+447908560943</span>
					</li>
					<li>
						<a href="https://stackoverflow.com/users/2219213/sergii-getman">stackoverflow</a>
					</li>
					<li>
						<a href="https://www.getman.io">blog</a>
					</li>
					<li>
						<a href="https://github.com/sergii4">github</a>
					</li>
				</ul>
			</div>
		  </div>
		  <div class="col-md-2"></div>
		</div>
		<div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  	<h4>Professional Summary</h4>
			<div>
				<p>Lead Engineer with 15+ years of experience in cloud infrastructure and distributed systems. Specialized in Kubernetes-based database orchestration and lifecycle management. Currently working on database operators, backup systems, and reliability features at Neo4j Cloud. Strong background in Golang, infrastructure-as-code, performance optimization, and delivering features requiring cross-team collaboration.</p>
			</div>
		  </div>
		  <div class="col-md-2"></div>
		</div>
		<div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  	<h4>Skills and Technologies</h4>
			<div >
				<ul>
					<li><span>Programming Languages</span>: Go (expert), Java, JavaScript</li>
					<li><span>Cloud & Infrastructure</span>: Kubernetes, Docker, AWS, Google Cloud Platform, Azure</li>
					<li><span>Infrastructure as Code</span>: Terraform, CloudFormation</li>
					<li><span>Monitoring & Observability</span>: Prometheus, Grafana, ELK Stack, Datadog</li>
					<li><span>Distributed Systems</span>: Microservices Architecture, gRPC, NATS, Message Queues</li>
					<li><span>Databases</span>: Neo4j, PostgreSQL, Clickhouse, Redis, DynamoDB</li>
					<li><span>DevOps & SRE</span>: CI/CD, Site Reliability Engineering, Incident Management, Performance Optimization</li>
					<li><span>Version Control</span>: Git, GitHub</li>
					<li><span>Languages</span>: English (full professional proficiency), Ukrainian (native)</li>
				</ul>
			</div>	
		  </div>
		  <div class="col-md-2"></div>
		</div>
		<div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  	<h4>Experience</h4>
			<div class="experience" ng-repeat="project in projects">
				<ul>
					<li><span>Period</span>: <strong>{{project.date}}</strong></li>
					<li><span>Company</span>: <strong>{{project.company}}</strong></li>
					<li><span>Project</span>: {{project.name}}</li>
					<li><span>Description</span>: {{project.desc}}</li>
					<li><span>Position</span>: {{project.position}}</li>
					<li><span>Achievements</span>: {{project.achievements}}</li>
					<li><span>Technologies</span>: {{project.techologies}}</li>
				</ul>	
			</div>	
		  </div>
		  <div class="col-md-2"></div>
		</div>
		<div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  	<h4>Education</h4>
			<div ng-repeat="edu in edus">
				<ul>
					<li>{{edu.time}}</li>
					<li>{{edu.location}}</li>
					<li>{{edu.univer}}</li>
					<li>{{edu.graduation}}</li>
				</ul>	
			</div>	
		  </div>
		  <div class="col-md-2"></div>
		</div>
		<div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  	<h4>Certification</h4>
			<div ng-repeat="certificate in certificates">
				<ul>
					<li>{{certificate.name}}</li>
				</ul>	
			</div>	
		  </div>
		  <div class="col-md-2"></div>
		</div>
	</body>

